@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700;900&display=swap');

* {
    margin: 0;
    font-family: "outfit", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.sidenav {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #012145;
    box-shadow: 0 10px 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
    top: 0;
    left: 0;
    transition: .5s;
    white-space: nowrap;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.navlogo {
    width: 6rem;
    margin: 3rem 0;
}

.navlink {
    display: block;
    color: #b0a68c;
    text-decoration: none;
    font-size: 1.25rem;
    margin-top: 10px;
    padding: 5px;
}

.navlink:hover {
    color: #ffffff;
}

.active {
    background-color: #a7985e;
    color: #ffffff;
    border-radius: 0.3rem;
}

.links {
    text-align: start;
    width: 150px;
    margin:auto;
}

.navfooter {
    margin-top: 4rem;
    color: #838383;
}

.section {
    padding-left: 200px;
    background-color: aliceblue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 1.5rem;
}

header.section {
    background-color: #c9c9c9;
}

.navbtn {
    z-index: 2;
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    visibility: hidden;
}

#clickzone {
    height: 100%;
    width: 100vh;
    padding-left: 200px;
    background-color: #b0a68c;
}

.slideover {
    padding-left: 0;
}

#menubtn {
    font-size: 40px;
    color:#3c3c3c
}

h1 {
    color:#484848;
    font-size: 2rem;
    padding: 2rem 0;
}

h4 {
    color: #727272;
    margin-bottom: 1rem;
}

p {
    color: #3c3c3c
}

.container-md {
    max-width: 700px;
    margin:auto;
}
img {
    width: 100%;
}

@media screen and (max-width: 780px) {
    .sidenav{
        width: 0;
    }
    .section {
        padding-left: 0;
    }
    .shownav {
        width: 200px;
    }
    .navbtn {
        visibility: visible;
    }
}